<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449863277503-855rasci49tnb22dc41oo19r841erj3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449863277503-855rasci49tnb22dc41oo19r841erj3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBvJPMbOHMpkqA_aqa9K7zDroxto3gAbtg</string>
	<key>GCM_SENDER_ID</key>
	<string>449863277503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nickolay.romensky.chatflutter</string>
	<key>PROJECT_ID</key>
	<string>chat-flutter-a37b7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flutter-a37b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449863277503:ios:3a59e8d5beacadc5881f0a</string>
</dict>
</plist>